{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
<h1 align="center">BeiBao</h1>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus required class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" required id="city" name="city" placeholder="City(english language)" type="text">
        </div>
        <button class="btn btn-outline-warning center" type="submit">Login</button>
    </form>
{% endblock %}